## Generic files

*\~
*.elc

session.*
bbdb
ede-projects.el
ac-comphist.dat
tramp

## Directories

elpa/
elpa-to-submit/
eshell/
gnus/
image-dired/
lisp/
newsticker/
thumbs/
auto-save-list/
backups/
themes/
tutorial/
url/
